.add-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 10px;

  margin: 0 auto;
  width: 30px;
  height: 31px;

  background: transparent; /* o fundo vem do SVG */
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.add-button__icon {
  width: 30px;
  height: 31px;
  display: block;
}
