/* botão SOS do Figma */
.sos-button {
  margin: 0 auto;
  width: 93px;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background: transparent; /* o fundo está no SVG */
  cursor: pointer;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.sos-button__svg {
  width: 93px;
  height: 42px;
  display: block;
}
