.send-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  gap: 10px;

  width: 55px;
  height: 55px;

  background: #ffffff;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.send-button__icon {
  width: 55px;
  height: 55px;
}
